{name, "ossp_uuid"}.
{authors, ["Yurii Rashkovskii <yrashk@gmail.com>"]}.
{description, "NIF-based ossp-uuid binding"}.
{homepage, "https://github.com/yrashk/erlang-ossp-uuid"}.
{rebar_compatible, true}.
{license, "Public Domain"}.
{url, {git, "https://github.com/yrashk/erlang-ossp-uuid.git", {branch, "master"}}}.
{applications, [ossp_uuid]}.
